.app-container {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Lucida Sans Unicode';
}

.display-box {
  display: flex;
  flex-direction: column;
}

.row-box-small {
  flex-basis: 33.33%;
}

.row-box-large {
  flex-basis: 66.66%;
}

.display-title {
  font-size: 12px;
  background-color: #ffced1;
  padding-left: 3px;
}

.display-content {
  flex-grow: 1;
  align-content: center;
  text-align: center;
  border: solid;
  border-color: #ffced1;
}

.display-content-no-border {
  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.display-content-line {
  font-size: 2lh;
}

.display-content-direction {
  padding-left: 3px;
}

.display-followup-times {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tram-stop {
  text-align: center;
  padding: 12px 0 12px 0;
  border: solid;
  border-color: #ffced1;
}

.flex-container {
  display: flex;
}

.box-border {
  border: solid;
  border-color: #ffced1;
}

.mt-3 {
  margin-top: 3px;
}
